{% extends "base.html" %}

{% block html_lang %}{{ article.lang }}{% endblock %}

{% block title %}{{ SITENAME }} - {{ article.title|striptags  }}{% endblock %}

{% block changeImg %}
	function changeImg(number) {
	  if (imagesLoaded) {
	    document.getElementById("bigpic1").src=pic1[number].src;
	    document.getElementById("bigpic2").src=pic2[number].src;
	  }
	  return(true);
	}
{% endblock changeImg %}

{% block head %}
  {{ super() }}

  {% import 'translations.html' as translations with context %}
  {% if translations.entry_hreflang(article) %}
    {{ translations.entry_hreflang(article) }}
  {% endif %}

  {% if article.description %}
    <meta name="description" content="{{article.description}}" />
  {% endif %}

  {% if article.keywords %}
    <meta name="keywords" content="{{ article.keywords|join() }}" />
  {% endif %}
{% endblock %}

{% block nav %}
                            <li onmouseover="changeImg(0);return false;">
 {% import 'translations.html' as translations with context %}
 {{ translations.translations_for(article) }}
                            </li>
{% endblock %}

{% block content %}
    {{ article.content }}
{% endblock %}

{% block aside %}
					<div class="boite-noire">
						<aside>
  {% if article.lang == DEFAULT_LANG %}
    {{ ASIDE_FR['article'] }}
  {% else %}
    {{ ASIDE_EN['article'] }}
  {% endif %}
						</aside>
					</div>
{% endblock aside %}
