<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
<head>
    {% block head %}
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="Pelican" />
    {% if FEED_ALL_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
    {% endif %}
    {% if FEED_ALL_RSS %}
    <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_RSS_URL %}{{ FEED_ALL_RSS_URL }}{% else %}{{ FEED_ALL_RSS }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
    {% endif %}
    {% if FEED_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{%if FEED_ATOM_URL %}{{ FEED_ATOM_URL }}{% else %}{{ FEED_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if FEED_RSS %}
    <link href="{{ FEED_DOMAIN }}/{% if FEED_RSS_URL %}{{ FEED_RSS_URL }}{% else %}{{ FEED_RSS }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}
    {% if CATEGORY_FEED_ATOM and category %}
    <link href="{{ FEED_DOMAIN }}/{% if CATEGORY_FEED_ATOM_URL %}{{ CATEGORY_FEED_ATOM_URL.format(slug=category.slug) }}{% else %}{{ CATEGORY_FEED_ATOM.format(slug=category.slug) }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
    {% endif %}
    {% if CATEGORY_FEED_RSS and category %}
    <link href="{{ FEED_DOMAIN }}/{% if CATEGORY_FEED_RSS_URL %}{{ CATEGORY_FEED_RSS_URL.format(slug=category.slug) }}{% else %}{{ CATEGORY_FEED_RSS.format(slug=category.slug) }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
    {% endif %}
    {% if TAG_FEED_ATOM and tag %}
    <link href="{{ FEED_DOMAIN }}/{% if TAG_FEED_ATOM_URL %}{{ TAG_FEED_ATOM_URL.format(slug=tag.slug) }}{% else %}{{ TAG_FEED_ATOM.format(slug=tag.slug) }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
    {% endif %}
    {% if TAG_FEED_RSS and tag %}
    <link href="{{ FEED_DOMAIN }}/{% if TAG_FEED_RSS_URL %}{{ TAG_FEED_RSS_URL.format(slug=tag.slug) }}{% else %}{{ TAG_FEED_RSS.format(slug=tag.slug) }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
    {% endif %}
    {% if BOOTSTRAP_CSS_FILE %}
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/{{BOOTSTRAP_CSS_FILE}}" />
    {% endif %}
    {% if BOOTSTRAP_DADA_CSS_FILE %}
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/{{BOOTSTRAP_DADA_CSS_FILE}}" />
    {% endif %}
    {% if JQUERY_JS_FILE %}
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/{{JQUERY_JS_FILE}}"></script>
    {% endif %}
    {% if BOOTSTRAP_JS_FILE %}
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/{{BOOTSTRAP_JS_FILE}}"></script>
    {% endif %}
    <script type="text/javascript">
        imagesLoaded = false;

        function newImage(arg) {
            if (document.images) {
                rslt = document.createElement("img");
                rslt.src = arg;
                return rslt;
            }
        }

        pic0 = new Array(7);
        pic0[0] = newImage('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/edito3/fond_1.jpg');
        pic0[1] = newImage('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/edito3/fond_2.jpg');
        pic0[2] = newImage('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/edito3/fond_3.jpg');
        pic0[3] = newImage('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/edito3/fond_1.jpg');
        pic0[4] = newImage('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/edito3/fond_4.jpg');
        pic0[5] = newImage('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/edito3/fond_3.jpg');
        pic0[6] = newImage('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/edito3/fond_4.jpg');

        pic1 = new Array(7);
        pic1[0] = newImage('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/dada_3_haut.jpg');
        pic1[1] = newImage('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/dada_4_haut.jpg');
        pic1[2] = newImage('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/blank.png');
        pic1[3] = newImage('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/dada_4_haut.jpg');
        pic1[4] = newImage('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/blank.png');
        pic1[5] = newImage('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/dada_3_haut.jpg');
        pic1[6] = newImage('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/blank.png');

        pic2 = new Array(7);
        pic2[0] = newImage('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/dada_pixel.jpg');
        pic2[1] = newImage('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/dada_pixel.jpg');
        pic2[2] = newImage('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/dada_2_bas.jpg');
        pic2[3] = newImage('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/dada_pixel.jpg');
        pic2[4] = newImage('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/dada_5_bas.jpg');
        pic2[5] = newImage('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/dada_pixel.jpg');
        pic2[6] = newImage('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/dada_2_bas.jpg');

        imagesLoaded = true;

        {% block changeImg %}
        function changeImg(number) {
          if (imagesLoaded) {
            document.getElementById("bigpic0").src=pic0[number].src;
            document.getElementById("bigpic1").src=pic1[number].src;
            document.getElementById("bigpic2").src=pic2[number].src;
          }
          return(true);
        }
        {% endblock changeImg %}

        function MM_findObj(n, d) {
            var p, i, x;
            if(!d) d = document; 
            if((p = n.indexOf("?")) >0 && parent.frames.length) {
                d = parent.frames[n.substring(p+1)].document; 
                n = n.substring(0,p);
            }
            if(!(x = d[n]) && d.all) x = d.all[n]; 
            for (i = 0; !x && i < d.forms.length; i++) x = d.forms[i][n];
            for(i = 0; !x && d.layers && i < d.layers.length;i++) x = MM_findObj(n, d.layers[i].document);
            if(!x && document.getElementById) x = document.getElementById(n); return x;
        }
            
        function changestyle(couche, style) {
            if (!(layer = MM_findObj(couche))) return;
              layer.style.visibility = style;
        }

        function change(ref) {
            var path;
            for (i=1; i<=10; i++)
            {
              if (i != ref)
              {
                path = "couche"+i;
                changestyle(path,"hidden");    
              }
            }
            path = "couche"+ref;
            changestyle(path,"visible");
        }

        function parole(uneVal, lesParoles) {
            if (!isNaN(uneVal) && parseInt(Number(uneVal)) == uneVal && !isNaN(parseInt(uneVal, 10))) {
                if ((uneVal >= 0) && (uneVal < lesParoles.length)) {
                    document.getElementById("divParole").innerHTML = lesParoles[uneVal];
                }
            }
        }
    </script>
    {% if FAVICON_FILE %}
    <link rel="shortcut icon" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/{{FAVICON_FILE}}" />
    {% endif %}
    {% endblock head %}
</head>
<body onload="change(1);">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12 col-lg-offset-1">
          <div id="bloc-page">
            <header>
                <img class="hidden-xs img-thumbnail" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/bandeau.jpg" alt="bandeau" />
                <nav class="navbar navbar-inverse navbar-dadaprod" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#barre-de-navigation">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="visible-xs navbar-brand" href="{{ SITEURL }}">Dadaprod</a>
                    </div>
                    <div class="collapse navbar-collapse"  id="barre-de-navigation">
                        <ul class="nav navbar-nav navbar-nav-dadaprod">
                        {% for cat, img, items in MENU %}
                            {% if items is string %}
                            <li onmouseover="{{ img }};return false;">
                                <a href="{{ SITEURL }}/{{ items }}">{{ cat }}</a>
                            </li>
                            {% else %}
                            <li class="dropdown" onmouseover="{{ img }};return false;">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                                    {% if loop.first %}
                                    <span class="glyphicon glyphicon-home"></span>
                                    {% endif %}
                                    {{ cat }}
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                {% for title, link in items %}
                                    {% if title %}
                                    <li>
                                    	<a href="{{ SITEURL }}/{{ link }}">{{ title }}</a>
                                    </li>
                                    {% else %}
                                    <li class="divider"></li>
                                    {% endif %}
                                {% endfor %}
                                </ul>
                            </li>
                            {% endif %}
                        {% endfor %}
                        {% block nav %}
                        {% endblock %}
                        </ul>
                    </div>
                </nav>
            </header>
            <section>
              <div class="row" style="padding-left: 10px;padding-right: 10px;">

                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12 hidden-xs">
                	<img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/dada_4_haut.jpg" id="bigpic1" alt="logo haut" />
                </div>
                
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                  <div class="boite-noire">
                    <article class="text-justify">
                    {% block content %}
                    {% endblock %}
                    </article>
                  </div>
                </div> <!-- end article grid -->

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="visible-xs">
                        <br>
                    </div>
                    {% block aside %}
                    {% endblock %}
                    <br>
                    <p class="text-center">
						<span class="col-droite">&gt; Syndication</span>
						<a href="{{ SITEURL }}/feeds/all.atom.xml" target="_blank"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/24px-feed-icon.png" alt="Feed icon" /></a>
                    </p>
                    <p class="text-center">
                        <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/3.0/fr/" target="_blank"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logos/cc.gif" alt="Crative Commons - some rights reserved"/></a>
                    </p>
                </div> <!-- end aside grid -->
              </div> <!-- end class row (section) -->
            </section>

              <div class="row hidden-xs" style="height: 80px;">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
                	<img class="img-thumbnail" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/dada_pixel.jpg" id="bigpic2" alt="logo bas" />
                </div>
              </div>

          </div> <!-- end bloc-page -->
          <footer>
            <p class="comment">Ce site, généré avec <a href="https://blog.getpelican.com/" target="_blank">Pelican</a>, est <a href="https://framagit.org/dadaprod/www.dadaprod.org" target="_blank">hébergé</a> sur les pages Framagit.. En cas de problème, contactez notre <a href="{{ SITEURL }}/pages/contact.html" >webmaster</a></p>
          </footer>
        </div> <!-- end page grid -->
      </div> <!-- end page grid -->
    </div> <!-- end container -->
</body>
</html>
