{% extends "base.html" %}

{% block title %}{{ SITENAME }} - {{ category }} category{% endblock %}

{% block content %}
    {% for article in articles_page.object_list %}
						<p>
							<a href="{{ SITEURL }}/{{ article.url }}">
                                {% if article.artist  %}
								<strong>{{ article.artist }}</strong> -
                                {% endif %}
                                {{ article.title }}
							</a><br/>
							<span class="tab-titre">{{ article.locale_date }}</span><br/>
						</p>
						<p>{{ article.summary }}</p>
    {% endfor %}
{% endblock content %}
{% block aside %}
					<img class="img-thumbnail" style="padding-top:10px; padding-bottom:10px; background: #AD0000;" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/edito3/fond_1.jpg" id="bigpic0" alt="carrousel" />
{% endblock aside %}
