{% extends "base.html" %}

{% block html_lang %}{{ page.lang }}{% endblock %}

{% block title %}{{ SITENAME }} - {{ page.title|striptags }}{%endblock%}

{% block changeImg %}
	function changeImg(number) {
	  if (imagesLoaded) {
	    document.getElementById("bigpic1").src=pic1[number].src;
	    document.getElementById("bigpic2").src=pic2[number].src;
	  }
	  return(true);
	}
{% endblock changeImg %}

{% block head %}
  {{ super() }}

  {% import 'translations.html' as translations with context %}
  {% if translations.entry_hreflang(page) %}
    {{ translations.entry_hreflang(page) }}
  {% endif %}

  {% if page.keywords %}
    <meta name="keywords" content="{{ page.keywords|join() }}" />
  {% endif %}
{% endblock %}

{% block nav %}
                            <li onmouseover="changeImg(1);return false;">
    {% import 'translations.html' as translations with context %}
    {{ translations.translations_for(page) }}
                            </li>
{% endblock %}

{% block content %}
    {{ page.content }}
{% endblock %}

{% block aside %}
					<div class="boite-noire">
						<aside>
  {% if page.lang == DEFAULT_LANG %}
    {{ ASIDE_FR['page'] }}
  {% else %}
    {{ ASIDE_EN['page'] }}
  {% endif %}
						</aside>
					</div>
{% endblock aside %}
