{% extends "base.html" %}

{% block title %}
    {% if tag != 'mail-order' %}
    {{ SITENAME }} - {{ tag }} tag
    {% else %}
    {{ SITENAME }} - Mail Order
    {% endif %}
{% endblock %}

{% block content %}

    {% block content_title %}
        {% if tag != 'mail-order' %}
        <h2>Articles tagged with {{ tag }}</h2>
        {% endif %}
    {% endblock %}

    {% if tag != 'mail-order' %}
    <ol id="post-list">
    {% endif %}
    {% for article in articles_page.object_list %}
        {% if tag != 'mail-order' %}
            <li>
                    <h2 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
                    <time class="published" datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }} </time>
                    <address class="vcard author">By
                    {% for author in article.authors %}
                        <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
                    {% endfor %}
                    </address>
                    <div class="entry-content"> {{ article.summary }} </div><!-- /.entry-content -->
            </li>
        {% else %}
						<div class="row">
							<div class="col-sm-3">
                                {% if article.image %}
								<img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/cdr/{{ article.image }}.jpg" alt="Cd logo" />
                                {% endif %}
								<p>
                                    {% if article.price %}
                                    {{ article.price }}
                                    {% endif %}
									<a href="{{ SITEURL }}/pages/contact">Achetez</a>
								</p>
							</div>
							<div class="col-sm-9">
								<span class="titre">{{ article.title }}</span>
								<p>{{ article.summary }}</p>
							</div>
						</div>
        {% endif %}
    {% endfor %}
    {% if tag != 'mail-order' %}
    </ol><!-- /#posts-list -->
    {% endif %}
{% if articles_page.has_other_pages() %}
    {% include 'pagination.html' %}
{% endif %}
{% endblock content %}
{% block aside %}
					<img class="img-thumbnail" style="padding-top:10px; padding-bottom:10px; background: #AD0000;" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/edito3/fond_1.jpg" id="bigpic0" alt="carrousel" />
{% endblock aside %}
